@media screen and (max-width: 768px){
    header h1 a {
        top: -11px;
        left: 197px;
        font-size: 15px;
    }
    header nav ul li a {
        color: rgb(238, 110, 110);
        font-size: 10px;
        position: relative;
    }
    header nav ul {
        display: flex;
        gap: 10px;
        font-style: italic;
        list-style: none;
        margin-left: 133px;
    }
    .home h2 {
        font-size: 10px;
        color: white;
        letter-spacing: 2px;
        margin-left: 124px;
        margin-top: 28px;
    }
    .home h2 span {
        color: rgb(238, 110, 110);
        font-style: italic;
        font-size: 10px;
        letter-spacing: 5px;
    }
    .home img {
        height: 200px;
        width: 150px;
        margin-left: 160px;
        margin-top: 6px;
        border-radius: 50px;
    }
    .home button {
        position: absolute;
        left: 141px;
        top: 367px;
        width: 180px;
        height: 35px;
        border-radius: 50px;
        background-color: rgb(238, 110, 110);
        border: 2px solid rgb(238, 110, 110);
        cursor: pointer;
        color: white;
        font-size: 25px;
    }

    .about {
        margin-top: 70px;
        background-color: black;
    }
    .about h2 a {
        color: rgb(238, 110, 110);
        margin-left: 178px;
        font-size: 20px;
        font-style: italic;
        margin-top: 100px;
        text-decoration: underline;
    }
    .about h3 {
        width: 451px;
        color: rgb(241, 95, 95);
        text-align: center;
        margin-top: 22px;
        font-size: 15px;
    }
    .about p {
        width: 446px;
        color: white;
        font-size: 15px;
        text-align: center;
        font-style: italic;
        margin-top: 30px;
    }
    .about img {
        width: 235px;
        height: 209px;
        margin-left: 110px;
        margin-top: 30px;
    }
    .progressbar {
        display: flex;
        flex-wrap: wrap;
        margin-left: 153px;
        margin-top: 29px;
        gap: 30px;
        flex-direction: column;
    }
  
    .myprojects h2 {
        color: rgb(238, 110, 110);
        
        font-size: 20px;
        font-style: italic;
        margin-top: 75px;
        text-decoration: underline;
        margin-left: -125px;
    }
    .myprojects .conteiners {
        flex-direction: column;
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        align-items: center;
        margin-top: 50px;
        margin-left: -135px;
        flex-direction: column;
    }



   
}



 
